
<div style="margin-left:250px; color:black">
    <!-- Page Header Start -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Carousel</h2>
                </div>
                <div class="col-12">
                    <a href="/">Carousel</a>
                    <a href="/">Crud</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <form>
        <div class="row">
            <div class="col-lg-8">
                <div class="container">
                    <div style="margin-left:30px">
                        <div class="col-8">

                            <div class="form-row">
                                <div class="form-group col-mg-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-10">
                                    <label for="inputState">State</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="exampleFormControlFile1">Example file input</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleFormControlFile1">Example file input</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top:40px">
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-success">Success</button>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-success" style="background-color: cornflowerblue; border-color: cornflowerblue">Success</button>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-success" style="background-color:red;border-color:red">Success</button>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-success" style="background-color:yellow;border-color:yellow;color:gray">Success</button>
                </div>
            </div>
        </div>
    </form>
</div>